@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #f6f5f5;
}

#projects {
  background-color: #f6f5f5;
}

section {
  padding-top: 5rem;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #d8b6a4;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 8px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
